//=====Color variables=====

$alcali-metal: #f7aac0;      //.color1
$alcaline-earth: #fbb480;    //.color2
$transition-metal: #fcf9bd;  //.color3
$basic-metal: #93d3a6;       //.color4
$semimetal: #6bcef3;         //.color5
$nonmetal: #a3bbe1;          //.color6
$halogen: #e0e0f0;           //.color7
$noble-gas: #e1cfe5;         //.color8
$lanthanide: #e7dad4;        //.color9
$actinide: #f3cabc;          //.color10